@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import "variables.css";

@import "reset.css";

/* Components */
@import "/CSS/components/status-bar.css";

/* Screens */
@import "/CSS/screens/login.css";

body {
  margin: 0;
  width: 750px;
  font-family: "Caveat", cursive;
  display: flex;
  flex-direction: column;
}
