@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import "variables.css";

@import "reset.css";

/* Components */
@import "/CSS/components/status-bar.css";
@import "/CSS/components/nav-bar.css";
@import "/CSS/components/screen-header.css";
@import "/CSS/components/friends.css";
@import "/CSS/components/user-component.css";
@import "/CSS/components/badge.css";

/* Screens */
@import "/CSS/screens/login.css";
@import "/CSS/find.css";

body {
  margin: 0;
  font-family: "Caveat", cursive;
  color: #2e363e;
  display: flex;
  flex-direction: column;
  height: 1000vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
  margin-bottom: 15px;
}
