.notification-color {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-family: Times, serif;
  font-weight: 1000;
}
.dot {
  width: 5px;
  height: 5px;
  font-family: Times, serif;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(10px) rotatey(360deg);
  }
  100% {
    transform: none;
  }
}

.icon-notification {
  position: absolute;
  top: -15px;
  right: -15px;
  animation: notificationAnimation 1s ease-in-out infinite;
}
