.screen-header {
  display: flex;
  /* margin-top: 31.5px; status-bar isn't fixed yet */
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__icons i {
  position: relative;
}

.screen-header__icons i span {
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  color: blackred;
  background-color: white;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 900;
}
